@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* rest of the colors */
  --black: #222;
  --color-black: #0f0f0f;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* fonts  */
  --Font: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
}

body {
  background: var(--white);
  font-family: var(--Font);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-black);
  margin: 0 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  /* font-family: var(--headingFont); */
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  margin-bottom: 0;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* nav -section */
header {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  width: 98%;
  background-color: var(--white);
  /* margin-top: 2px; */
}

/* left section of the navbar */
.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin-left: 5px;
}

.left-nav img {
  margin-top: 5px;
  width: 120px;
  cursor: pointer;
}

.left-nav button {
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.left-nav button:hover {
  background-color: #ececec;
}

/* nav center section */
.center-nav {
  width: 650px;
  display: flex;
  margin: 0 5rem;
}

.center-nav input {
  flex: 1;
  width: 20px;
  padding: 0.5rem;
  border-radius: 2rem 0 0 2rem;
  border: 1px solid silver;
  height: 2.5rem;
  outline: none;
  padding-left: 20px;
  font-size: 1rem;
  box-shadow: inset var(--shadow-1);
}
button.search-icon {
  width: 4rem;
  height: 2.5rem;
  margin-right: 20px;
  border: 1px solid silver;
  border-radius: 0 2rem 2rem 0;
  margin-left: -1px;
  background-color: white;
  color: var(--black);
}
.center-nav .voice-icon {
  background-color: transparent;
  border: none;
}

/* right nav section */
.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
}

.right-nav button {
  font-size: 0.87rem;
  padding: 0.7rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.right-nav button:hover {
  background-color: #f2f2f2;
  border-radius: 50%;
}
.profile-img {
  width: 32px;
  height: 32px;
}

.profile-pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.right-nav .voice-icon,
.right-nav .search-icon {
  display: none;
}

/* main content */
main {
  margin-top: 18px;
}
/* menu - button section */
.list {
  display: flex;
  align-items: center;
  height: 55px;
  margin-left: 2.4rem;
  margin-bottom: 2.5rem;
  gap: 8px;
  top: 39px;
  position: fixed;
  background: var(--white);
  width: 100%;
  z-index: 2;
}

.list .list-item {
  display: grid;
  place-content: center;
  padding: 0.25rem 1rem;
  letter-spacing: var(--letterSpacing);
  border-radius: 8px;
  background-color: #f2f2f2;
  transition: var(--transition);
}
.list-item a {
  color: var(--black);
  font-size: 14px;
  text-transform: capitalize;
}

.list .list-item:hover {
  background-color: #ececec;
}

.list .all {
  background-color: var(--black);
  padding: 0.1rem 0.75rem;
  border-radius: 8px;
}

.list .all a {
  color: var(--white);
}

/* video content container section  */

.main-container {
  display: flex;
}
/* aside section */
.aside {
  width: 240px;
  top: 60px;
  left: 0;
  bottom: 0;
  padding-left: 0rem;
  position: fixed;
  min-height: 100vh;
  overflow-y: auto;
}

.side {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px;
}
.home,
.side .side-content {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  font-size: 14px;
  padding: 0.5rem 0.6rem;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
}

.none {
  display: none !important;
}
.side .side-content:hover {
  background-color: #f2f2f2;
}

.home {
  background-color: #f2f2f2;
  border-radius: 8px;
}

/* video content section */
.content-container {
  flex: 1;
  margin-left: 210px;
}
.video-content-container {
  display: grid;

  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 10px; */
  margin: 0 2.5rem;
  margin-top: 7.2rem;
}

.video-container {
  margin-bottom: 1rem;
}
.video-container .profile-video {
  border-radius: 12px;
  transition: var(--transition);
}

.video-container .profile-video:hover {
  border-radius: unset;
}

.time-position {
  position: relative;
}

.time {
  position: absolute;
  right: 5px;
  bottom: 6.5px;
  color: var(--white);
  background: var(--black);
  text-align: center;
  display: grid;
  place-content: center;
  height: 18px;
  width: 40px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
}

.video-info {
  display: flex;
  align-items: center;
  margin-top: 0.84rem;
}

.video-info img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-self: self-start;
  margin-right: 0.75rem;
}

.profile-info h4 {
  font-weight: 450;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 0;
}

.profile-info p {
  margin-top: 0;
  font-size: 14px;
  color: #606069;
  text-transform: capitalize;
}

@media screen and (max-width: 1300px) {
  .left-nav {
    margin-left: 18px;
  }
  .aside {
    padding-left: 0;
    top: 45px;
  }
  .side {
    margin-left: -5px;
    border-bottom: unset;
  }
  .home,
  .side .side-content {
    width: 75px;
    /* margin-bottom: 1rem; */
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 10px;
    padding: 1rem 0rem;
  }
  .home {
    background-color: unset;
  }
  .home:hover {
    background-color: #f2f2f2;
  }

  .content-container {
    margin-left: 50px;
  }
  .list {
    margin-left: 2.2rem;
  }

  .hide {
    display: none;
  }
  .none {
    display: grid !important;
    place-content: center;
  }
}

@media screen and (max-width: 1070px) {
  .content-container {
    display: grid;
    place-content: center;
  }
  .video-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 130px 80px;
  }
}

@media screen and (max-width: 950px) {
  .video-content-container {
    margin: 120px 40px;
  }
}
@media screen and (max-width: 800px) {
  .aside {
    display: none !important;
  }
  .content-container {
    margin-left: -20px;
  }
}

@media screen and (max-width: 700px) {
  .video-content-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 120px 100px;
  }
  .content-container {
    margin-left: 0;
  }
  .list {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .center-nav {
    display: none;
  }
  .video-content-container {
    margin: 120px 60px;
  }

  .right-nav {
    /* width: 250px; */
    margin-right: 10px;
  }
  .right-nav .voice-icon,
  .right-nav .search-icon {
    display: unset;
    /* margin-right: -18px; */
  }

  .right-nav .search-icon {
    padding: 0;
  }

  .right-nav button {
    padding: 0 5px;
  }
}
@media screen and (max-width: 500px) {
  .video-content-container {
    margin: 120px 20px;
  }

  .left-nav {
    width: 150px;
  }
  .left-nav img {
    margin-top: 5px;
    width: 100px;
    margin-left: 0;
  }
}
